/*****************************************************
CSS GENERAL
*****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white_color: #ffffff;
    --dark_color: #000000;
    --call_to_action_color: #080b12;
    --main_content_color: #141922;
    --play_bar_color: #282828;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.grid {
    border: 2px solid white;
}

.white_color {
    color: var(--white_color);
}

.uppercase {
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.p_15 {
    padding: 15px;
}

/*****************************************************
CSS SITE "SPOTIFY WEB"
*****************************************************/

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
    display: flex;
    position: relative;
}

#playbar {
    width: 100%;
    height: 90px;
    background-color: var(--play_bar_color);
}

.main_nav {
    width: 230px;
    min-height: 600px;
    background-color: var(--dark_color);
}

.main_content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    margin-top: 80px;
    padding-bottom: 120px;
    background-color: var(--main_content_color);
}

#call_to_action {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: var(--call_to_action_color);
}

.btn {
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 20px;
    border: 1px solid white;
    background-color: black;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    width: calc(100% / 6);
}

.col img {
    width: 100%;
}

.container {
    padding: 60px 30px 60px 20px;
}