/*****************************************************
CSS GENERAL
*****************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white_color: #ffffff;
    --dark_color: #000000;
    --call_to_action_color: #080b12;
    --main_content_color: #141922;
    --play_bar_color: #282828;
    --hover_btn: #272727;
    --nav_color: #7f8286;
    --transition_color: #608b28;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*****************************************************
CSS UTILITIES
*****************************************************/

.grid {
    border: 2px solid white;
}

.white_color {
    color: var(--white_color);
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.list_style {
    list-style: none;
}

.text {
    text-decoration: none;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.m_b_12 {
    margin-bottom: 12px;
}

.m_l_15 {
    margin-left: 15px;
}

.m_l_20 {
    margin-left: 29px;
}

.m_t_10 {
    margin-top: 10px;
}

.p_15 {
    padding: 15px;
}

.p_l_33 {
    padding-left: 40px;
}

.p_t_10 {
    padding-top: 10px;
}

/*****************************************************
CSS SITE "SPOTIFY WEB"
*****************************************************/

.wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

main {
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
    display: flex;
    position: relative;
}

/*****************************************************
MAIN_CONTENT
*****************************************************/

.main_content {
    width: calc(100% - 230px);
    height: 100%;
    overflow-y: auto;
    margin-top: 80px;
    padding-bottom: 120px;
    background-color: var(--main_content_color);
}

.main_content nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.main_content nav ul li {
    margin: 12px;
}

.main_content nav ul li a {
    color: var(--nav_color);
}

.main_content nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--transition_color);
    transition: width .3s;
}

.main_content nav ul li a:hover::after {
    width: 100%;
    transition: width .3s;
}

/*****************************************************
MAIN_NAV
*****************************************************/

.main_nav {
    width: 230px;
    min-height: 600px;
    background-color: var(--dark_color);
}

/*****************************************************
#PLAYBAR
*****************************************************/

#playbar {
    width: 100%;
    height: 90px;
    background-color: var(--play_bar_color);
}

/*****************************************************
#CALL_TO_ACTION
*****************************************************/

#call_to_action {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 230px);
    height: 80px;
    background-color: var(--call_to_action_color);
}

.btn {
    padding: 12px 45px;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
    border: 1px solid var(--white_color);
    background-color: var(--call_to_action_color);
}

.btn:hover {
    background-color: var(--hover_btn);
    padding: 14px 47px;
}

/*****************************************************
CSS SECTIONS
*****************************************************/

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    width: calc(100% / 6);
}

.col img {
    width: 100%;
}

.container {
    padding: 40px 30px 22px;
}

.font_h2 {
    font-size: 25px;
}

.hover_h2:hover {
    text-decoration: underline;
}

.listen {
    color: var(--nav_color);
}

.hover_col:hover {
    background-color: rgba(40, 40, 40, 0.4);
    border-radius: 20px;
    padding: 15px;
}

/*****************************************************
#ARTISTI_PIù_POPOLARI
*****************************************************/

.artist_img {
    border-radius: 50%;
}

/*****************************************************
@MEDIA
*****************************************************/

@media screen and (max-width:991px) and (min-width:768px) {
    .col {
        width: calc(100% / 4);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:767px) and (min-width:576px) {
    .main_content nav ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    .col {
        width: calc(100% / 2);
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .flex_artist {
        display: flex;
        flex-flow: row nowrap;
    }
}